a{
  color:black;
}

body{
  width:320px;
  margin:auto;
  background:#fffaf0;
}
header{
  margin-top: 20px;
  font-size:15px;
  width:100%;

}

header a{
  background-color:white;
  margin-top:20px;
  border:2px solid black;
  border-radius:5px;
}

main{
  width:100%;
  text-align: center;
  margin-top:50px;
}

main a{
  font-size:30px;
  background-color:snow;
  border:1px solid grey;
  border-radius:4px;
  padding:10px;

}
